<h1>Kendo UI & Additional Tasks</h1>
<kendo-buttongroup selection="single">
<kendo-button [togglable]="true" routerLink="/button">Buttons</kendo-button>
<kendo-button [togglable]="true" routerLink="/dlimg">Download</kendo-button>
<kendo-button [togglable]="true" routerLink="/hide">Hide</kendo-button>
<kendo-button [togglable]="true" routerLink="/login">Login</kendo-button>
<kendo-button [togglable]="true" routerLink="/table">Table</kendo-button>
<kendo-button [togglable]="true" routerLink="/treeView">TreeView</kendo-button>
</kendo-buttongroup>
<br>
<br>
<router-outlet></router-outlet>